.box-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 15px;
  background: #FFFFFF;
  border-bottom: 1px solid #E5E9EB;
  box-sizing: border-box;
  margin-left: 0;
  z-index: 99;
  transition: all 0.1s;
  color: #747597;

  .img-menu {
    cursor: pointer;
  }

  .icon-more,
  .box-logo {
    display: none;
  }

  .notification-icon {
    cursor: pointer;
  }

  @media only screen and (max-width: 1024px) {
    .icon-more {
      display: block;
      font-size: 24px;
      padding: 6px;
      cursor: pointer;
    }

    .box-logo {
      display: block;
      width: auto;
      height: 100%;
      > img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .box-right {
    .logout {
      cursor: pointer;

      &:hover {
        color: #F6851F;
      }
    }
  }
}