@import 'fonts';

body {
  overflow: hidden;
}

.preloading {
  background: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.3s;

  .circle {
    position: relative;
    width: 60px;
    height: 60px;

    &::after {
      content: "";
      background-color: #005398;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      animation: rotate 2s infinite;
    }

    &::before {
      content: "";
      background-color: #005398;
      opacity: 0.5;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      animation: revert-rotate 2s infinite;
    }
  }
}

@keyframes rotate {
  0% {
    transform: scale(0.5) rotate(0deg);
    border-radius: 50%;
  }

  50% {
    transform: scale(1.5) rotate(180deg);
    border-radius: 5%;
  }

  100% {
    transform: scale(0.5) rotate(360deg);
    border-radius: 50%;
  }
}

@keyframes revert-rotate {
  0% {
    transform: scale(1) rotate(0deg);
    border-radius: 50%;
  }

  50% {
    transform: scale(1.2) rotate(180deg);
    border-radius: 5%;
  }

  100% {
    transform: scale(1) rotate(360deg);
    border-radius: 50%;
  }
}

@keyframes text {
  0% {
    transform: rotate(200deg);
  }

  100% {
    transform: rotate(550deg);
  }
}
