.home-page {
    padding: 30px 20px;
    text-align: center;
    .step-name-card {
        margin-bottom: 50px;
    }
    .upload-card {
        max-width: 700px;
        margin: 50px auto;
    }
    .box-drop-area {
        .ant-btn {
            display: block;
        }
    }
    .preview-img {
        position: relative;
        display: none;
        width: auto;
        &.active {
            display: inline-block;
        }
        .drop-area {
            top: 0;
            left: 0;
            .name-item {
                height: 100%;
            }
        }
    }
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

[draggable=true] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* 古いブラウザ対応 */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.drop-area {
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #999;
}

.drop-area .item {
    position: absolute;
    cursor: pointer;
    width: 100px;
    height: 60px;
    font-size: 105%;
    background: white;
    border: dashed 1px black;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.drop-area .item .resizer {
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: se-resize;
    border-bottom: solid 2px #333;
    border-right: solid 2px #333;
}

.box-action {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .ant-btn {
        min-width: 120px;
        margin: 0 20px;
        border-radius: 4px;
    }
}

.box-item {
    .close-box {
        display: none;
        position: absolute;
        top: -10px;
        right: -10px;
        font-size: 20px;
        color: #ff4d4f;
        -webkit-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
        -moz-box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 1);
        border-radius: 50%;
        background-color: #FFFFFF;
    }
    &:hover {
        .close-box {
            display: block;
        }
    }
}